<config>
	<modules>
		<Monolito_FooBar>
			<version>0.1.0</version>
		</Monolito_FooBar>
	</modules>
	<frontend>
		<routers>
			<foobar>
				<use>standard</use>
				<args>
					<module>Monolito_FooBar</module>
					<!-- url route /foobar/:controller/:action -->
					<frontName>foobar</frontName>
				</args>
			</foobar>
			<customer>
				<args>
					<modules>
						<!-- overriding core controller -->
						<Monolito_FooBar before="Mage_Customer_AccountController">Monolito_FooBar_Frontend_Customer</Monolito_FooBar>
					</modules>
				</args>
			</customer>
		</routers>
		<layout>
			<updates>
				<foobar>
					<file>foobar.xml</file>
				</foobar>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<foobar>
				<class>Monolito_FooBar_Model</class>
			</foobar>
		</models>
		<blocks>
			<foobar>
				<class>Monolito_FooBar_Block</class>
			</foobar>
		</blocks>
		<helpers>
			<foobar>
				<class>Monolito_FooBar_Helper</class>
			</foobar>
		</helpers>
		<resources>
			<!-- adding custom Customer attribute -->
			<customerattribute1424029198_setup>
				<setup>
					<module>Monolito_FooBar</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customerattribute1424029198_setup>
			<customerattribute1424029198_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customerattribute1424029198_write>
			<customerattribute1424029198_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customerattribute1424029198_read>
		</resources>
		<events>
			<!-- subscribing to events -->
			<sales_order_save_after>
				<observers>
					<foobar>
						<class>Monolito_FooBar_Model_Observer</class>
						<method>orderSaved</method>
					</foobar>
				</observers>
			</sales_order_save_after>
			<customer_register_success>
				<observers>
					<foobar>
						<class>Monolito_FooBar_Model_Observer</class>
						<method>customerRegistered</method>
					</foobar>
				</observers>
			</customer_register_success>
		</events>
	</global>
</config>
